<!DOCTYPE html>
<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js" charset="utf-8"></script>
  <style>
    #container { text-align: center }
  </style>
</head>

<body>
  <div id='container'>
    <canvas id="chart" width="600" height="400"></canvas>
  </div>
  <script charset="utf-8">
  window.onload = function () {
    var context = document.getElementById("chart").getContext("2d");

    var counts = {{counts|safe}};
    var labels = Object.keys(counts).sort();

    var chart = new Chart(context).Bar({
      labels: labels,
      datasets: [
        {
          data: _.map(labels, function(label) { return counts[label]; }),
          fillColor: "rgba(100,100,220,0.5)",
          strokeColor: "rgba(100,100,220,0.8)",
          highlightFill: "rgba(100,100,220,0.75)",
          highlightStroke: "rgba(100,100,220,1)"
        }
      ]
    });
  }
  </script>

</body>

</html>
